/* Container Principal */
@import './FilaPedidos/styles/Container.css';

/* Componentes da Interface */
@import './FilaPedidos/styles/Sidebar.css';
@import './FilaPedidos/styles/Header.css';
@import './FilaPedidos/styles/OrderList.css';
@import './FilaPedidos/styles/OrderCard.css';
@import './FilaPedidos/styles/Buttons.css';
@import './FilaPedidos/styles/Forms.css';

/* Utilitários */
@import './FilaPedidos/styles/Modals.css';
@import './FilaPedidos/styles/Pagination.css';

/* Animações */
@import './FilaPedidos/styles/Animations.css';
@import './FilaPedidos/styles/SurferAnimation.css';